
<!--This is the top part of every page to log out and to see profile information-->

<nav class="navbar navbar-expand-lg navbar-dark bg-gradient1">
  <div class="container">
    <a class="navbar-brand" href="/">Carpool</a>
    <img src="assets/img/carpoolll.png" alt="Carpool Logo" width="30" height="50">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto"></ul>
      <!--A button to go to the ride list/search page.-->
      <button  (click)="navigateToRides()" class="btn btn-outline-secondary my-2 my-sm-0">Find Ride</button>
      <!--A button to go right to the new ride page.-->
      <button  (click)="newRideForm()" class="btn btn-outline-secondary my-2 my-sm-0">New Ride</button>
      <!--This is the profile button and how it looks.-->
      <button  (click)="profile()" class="btn btn-outline-secondary my-2 my-sm-0" id ="submit">Profile</button>
      <button  (click)="about_us()" class="btn btn-outline-secondary my-2 my-sm-0" id ="about_us">About</button>


      <!--User can log in and out-->
      <button  (click)="logout()" class="btn btn-outline-secondary my-2 my-sm-0">Log out</button>
      <a  class="btn btn-outline-secondary my-2 my-sm-0" [attr.href]="authUrl">Log in</a>



    </div>
  </div>
</nav>



